/* * SYLING SYSTEM */

/* --- 01 TYPOGRAPHY SYSTEM
- Font sizes (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98 */

/* --- 07 WHITESPACE
- Spacing system (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128
*/

/* * GENERAL STYLE RULES */

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	--FONT-COLOR: #212529;
	--BUTTON-BG: #664efc;
}

html {
	font-size: 62.5%;
	font-family: "DM Sans", sans-serif;
	color: var(--FONT-COLOR);
}

/* * COMMON STYLE RULES */

button {
	background: transparent;
	border: none;
	outline: none;
	cursor: pointer;
	font-weight: 300;
}

a:link {
	text-decoration: none;
	color: var(--FONT-COLOR);
}

img {
	width: 100%;
}

.container {
	max-width: 120rem;
	margin: 0 auto;
	padding: 0 3.2rem;
}

.content--summary {
	font-size: 1.6rem;
	font-weight: 500;
	letter-spacing: 0.5px;
	line-height: 1.5;
	margin: 2rem 0;
}

.cta--btn {
	background: var(--BUTTON-BG);
	padding: 1.5rem 2rem;
	border-radius: 0.5rem;
}

.cta--btn a {
  color: #fff;
  font-size: 1.8rem;
}

.content--highlight {
	color: var(--BUTTON-BG);
  font-weight: 700;
}

.secondary--heading {
  font-size: 3.6rem;
  font-weight: 700;
  line-height: 1.5;
}

.btn--link {
  font-size: 1.6rem;
  color: var(--BUTTON-BG);
  font-weight: 600;
}