/* ******************* */
/* ? HEADER SECTION */
/* ******************* */

header {
	background: var(--HERO-BG);
}

/* ? HEADER NAVIGATION */

.nav_container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 4rem 3.2rem 2rem;
}

.nav_container__links {
	list-style: none;
	display: flex;
	align-items: center;
	gap: 2rem;
}

.nav_container__links a {
	font-size: 1.8rem;
	font-weight: 500;
	color: var(--FONT-COLOR);
}

/* * NAV STICKY */

.sticky--nav {
	z-index: 5;
	position: fixed;
	left: 0;
	right: 0;
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.287);
	background: #fdfcf997;
	backdrop-filter: blur(10px);
	padding: 2rem 19rem;
}

/* ? HEADER HERO BANNER */

.banner_container {
	display: flex;
	align-items: center;
	padding: 4.8rem 0;
}

.banner_container figure {
	transform: rotate(-1deg);
}

.banner_container__content {
	max-width: 70rem;
}

.banner_container__content h1 {
	font-size: 5.4rem;
	font-weight: 800;
	letter-spacing: 0.5px;
	width: 52.5rem;
}

.banner_container__content p:last-child {
	font-size: 1.6rem;
	letter-spacing: 0.3px;
	font-weight: 500;
}

.banner_container__content figure {
	width: 40%;
	margin: 3rem 0 1rem;
}

.cta--btn {
	background: var(--BUTTON-BG);
	padding: 1.5rem 2rem;
	border-radius: 0.5rem;
}

.cta--btn a {
	color: #fff;
	font-size: 1.8rem;
}

ion-icon[name="close"] {
	display: none;
}

/* ******************* */
/* ? MAIN SECTION */
/* ******************* */

/* * FEATURES SECTION */

.features_container {
	padding: 9.6rem 3.2rem;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	align-items: center;
	gap: 10rem 0;
}

.features_container__buttons {
	display: flex;
	align-items: center;
	color: var(--BUTTON-COLOR);
	gap: 1rem;
}

.features_container figure {
	width: 80%;
}

.features_container figure:nth-child(2) {
	width: 70%;
	justify-self: end;
}

/* ******************* */
/* ? FOOTER SECTION */
/* ******************* */

footer {
	background: var(--HERO-BG);
	padding: 10rem 0 4rem;
}

.footer_container {
	display: grid;
	grid-template-columns: 1.7fr repeat(4, 1fr);
	justify-items: center;
}

.footer_container__content h3 {
	font-size: 2rem;
	font-weight: 900;
}

.footer_container ul {
	list-style: none;
}

.footer_container ul h4 {
	font-size: 2rem;
	font-weight: 900;
	margin-bottom: 2rem;
}

.footer_container ul li a {
	font-size: 1.8rem;
	display: inline-block;
	margin-bottom: 1rem;
	color: var(--FONT-COLOR);
}
